<h1>{{ title }}</h1>
<table>
  <tr>
    <td>Dname</td>
    <td>Dlocation</td>
  </tr>
  {{#each dept_locations}}
    <form method="post">
      <tr>
        <td>{{Dname}}</td>
        <td>{{Dlocation}}</td>
        <td style="border: none; margin-left: 10px;">
          <button 
            style="margin-left: 10px;"
            type="submit" 
            name="delBtn"
            value={{Dlocation}} 
            formaction="/delete">
          삭제
          </button>
        </td>
      </tr>    
    </form>
  {{/each}}
</table>