<h1>{{ title }}</h1>
<table>
    <tr>
        <td>Dname</td>
        <td>Dlocation</td>
    </tr>
    {{#each dept_locations}}
    <tr>
        <td>{{Dname}}</td>
        <td>{{Dlocation}}</tr>
    </tr>
    {{/each}}
</table>