<h1>사용자 예약 페이지</h1>

<h2>사용자 정보</h2>

<form nmae="user" method="post" action='/'>
    <div>
        <label for="userID">UserID</label>
        <input id="userID" name="userID" type="text" placeholder="UserID">
    </div>
    <div>
        <label for="flight_number">Flight_number</label>
        <input id="sflight_number" name="flight_number" type="text" placeholder="Flight_number">
    </div>
    <div>
        <label for="date">Date</label>
        <input id="date" name="date" type="text" placeholder="Date">
    </div>
    <div>
        <label for="seat_number">Seat_number</label>
        <input id="seat_number" name="seat_number" type="text" placeholder="Seat_number">
    </div>
    <div>
        <label for="customer_name">Customer_name</label>
        <input id="customer_name" name="customver_name" type="text" placeholder="Customver_name">
    </div>
    <div>
        <label for="customer_phone">Customer_phone</label>
        <input id="customer_phone" name="customer_phone" type="text" placeholder="Customer_phone">
    </div>
    <div>
        <input type="submit" value="예약">
    </div>
</form>
