<h1>{{ title }}</h1>
<table>
    <tr>
        <td>UserID</td>
        <td>Flight_number</td>
    </tr>
    {{#each user}}
    <tr>
        <td>{{UserID}}</td>
        <td>{{Flight_number}}</tr>
    </tr>
    {{/each}}
</table>